In [2]:
from datascience import *
import numpy as np

In [4]:
Table.read_table('state-pop.csv')

state                | totalPop   | hispPop
Alabama              | 4,779,736  | 185,602
Alaska               | 710,231    | 39,249
Arizona              | 6,392,017  | 1,895,149
Arkansas             | 2,915,918  | 186,050
California           | 37,253,956 | 14,013,719
Colorado             | 5,029,196  | 1,038,687
Connecticut          | 3,574,097  | 479,087
Delaware             | 897,934    | 73,221
District of Columbia | 601,723    | 54,749
Florida              | 18,801,310 | 4,223,806
... (41 rows omitted)

In [5]:
Table.read_table('surnames.csv')

name      | rank | count   | prop100k | cum_prop100k | pctwhite | pctblack | pctapi | pctaian | pct2prace | pcthispanic
SMITH     | 1    | 2376206 | 880.85   | 880.85       | 73.35    | 22.22    | 0.4    | 0.85    | 1.63      | 1.56
JOHNSON   | 2    | 1857160 | 688.44   | 1569.3       | 61.55    | 33.8     | 0.42   | 0.91    | 1.82      | 1.5
WILLIAMS  | 3    | 1534042 | 568.66   | 2137.96      | 48.52    | 46.72    | 0.37   | 0.78    | 2.01      | 1.6
BROWN     | 4    | 1380145 | 511.62   | 2649.58      | 60.71    | 34.54    | 0.41   | 0.83    | 1.86      | 1.64
JONES     | 5    | 1362755 | 505.17   | 3154.75      | 57.69    | 37.73    | 0.35   | 0.94    | 1.85      | 1.44
MILLER    | 6    | 1127803 | 418.07   | 3572.82      | 85.81    | 10.41    | 0.42   | 0.63    | 1.31      | 1.43
DAVIS     | 7    | 1072335 | 397.51   | 3970.33      | 64.73    | 30.77    | 0.4    | 0.79    | 1.73      | 1.58
GARCIA    | 8    | 858289  | 318.17   | 4288.5       | 6.17     | 0.49     | 1.43   | 0.58    | 0.51      | 90.81
RODRIGUEZ | 9    | 804240  | 298.13   | 4586.62      | 5.52     | 0.54     | 0.58   | 0.24    | 0.41      | 92.7
WILSON    | 10   | 783051  | 290.27   | 4876.9       | 69.72    | 25.32    | 0.46   | 1.03    | 1.74      | 1.73
... (151661 rows omitted)

In [6]:
Table.read_table('aging-curve.csv')

Decade | Age  | Male  | Female | Male.1  | Female.1
1900   | 113  | 0     | 0      | 0       | 0
1910   | 103  | 45    | 318    | 0.00045 | 0.00318
1920   | 93   | 4154  | 11403  | 0.04154 | 0.11403
1930   | 83   | 28836 | 44336  | 0.28836 | 0.44336
1940   | 73   | 58728 | 70955  | 0.58728 | 0.70955
1950   | 63   | 78170 | 86389  | 0.7817  | 0.86389
1960   | 53   | 87064 | 92468  | 0.87064 | 0.92468
1970   | 43   | 92710 | 95619  | 0.9271  | 0.95619
1980   | 33   | 96010 | 97619  | 0.9601  | 0.97619
1990   | 23   | 97802 | 98570  | 0.97802 | 0.9857
... (2 rows omitted)

In [8]:
Table.read_table('adjustments.csv')

Unnamed: 0 | Miller | Anderson | Martin | Smith | Thompson | Wilson | Moore | White | Taylor | Davis | Johnson | Brown | Jones | Thomas | Williams | Jackson | Lee   | Garcia | Martinez | Rodriguez
John       | 8.4    | 6.9      | 13.4   | -23.5 | 3.6      | 2.5    | 3.6   | 1.7   | 0.4    | -3.8  | -35.2   | -34.3 | -26.5 | 5.1    | -11.3    | -27.7   | -8.3  | -66.4  | -63.6    | -69.5
Michael    | 18.1   | 2.4      | 13     | 5.6   | 6.7      | 2.6    | 15.7  | -1.7  | 0.6    | 2.5   | -4.8    | 4.2   | -2.4  | 2.9    | -8.1     | -16.8   | -9.8  | -54.7  | -54.4    | -63.2
James      | 20.3   | 24       | 35.9   | 21.1  | 33.6     | 40.9   | 43    | 41    | 37.4   | 32.8  | 9.6     | 25.4  | 8.9   | 24.8   | 20.7     | 19.8    | 12.2  | -84.4  | -83.9    | -87.4
Robert     | 29.6   | 27       | 16.8   | 8.7   | 18       | 22     | 17.2  | 18.1  | 39.2   | 7.2   | 5.9     | 14.2  | 12.6  | 4.8    | -1.3     | -1.8    | 12.1  | -57.4  | -55.1    | -61
David      | 27.9   | 28.1     | 15.8   | 10.8  | 11       | 12.6   | 8.8   | 16.2  | -1.5   | -44.7 | 3.5     | 10.3  | 5     | 0.9    | -7.3     | -15.4   | 10.1  | -30.5  | -28.5    | -31.7
Mary       | 21.5   | 18.2     | 26.2   | 14.7  | 18.5     | 18.9   | 22.8  | 22.5  | 16     | 14.8  | 11.7    | 13.1  | 12.2  | 18.9   | 13.1     | 8.7     | -16.4 | -42.4  | -41.3    | -54
William    | 22.5   | 7        | 33.3   | 16.6  | 29.3     | 21.5   | 31.9  | 38.2  | 29.2   | 23.1  | 4.3     | 22.3  | 15.4  | 19.8   | -59.1    | 9.6     | -11.4 | -82.3  | -80.2    | -74.2
Richard    | 24.1   | 22.9     | 12.6   | 6.2   | 8.4      | 1.7    | 7.3   | 12.2  | 5      | 5.2   | -2      | 3.9   | -4.6  | -2.3   | -17      | -21.6   | -6.6  | -43.2  | -43      | -47.7
Thomas     | 12.9   | 3        | 22.1   | -2.6  | -3.5     | 9.7    | 32.2  | 13.2  | 4.3    | -5.9  | -15     | 1.8   | -3.5  | -81.1  | -11.5    | -11     | -8.9  | -77.8  | -75.6    | -84.2
Jennifer   | 24.9   | 17.3     | 22.5   | 16.7  | 15.2     | 14.8   | 11.5  | 14.8  | 14.9   | 8.7   | 10.3    | 6.5   | 24    | -1.6   | -7.4     | -6.3    | 22.5  | -32.9  | -32.2    | -33.2
... (10 rows omitted)